@media screen and (max-width:1500px) and (min-wdith:721px){
    .AboutPage h1{
        margin-top: 35%  !important;
    }
}

@media screen and (max-width:720px) {
    .AboutPage h1{
        margin-top: 45%  !important;
    }
}

.AboutPage{
    width: 100%;
    height: 90vh;
}
.AboutPage h1{
    font-family: Archivo;
    text-align: center;
    font-size: 100px;
    margin: 0;
    margin-top: 20%;

    color: gray;

}
.About h2{
    margin: 0 ;
    padding:  0 ;
}
.About {
    text-align: center;
}
.About .h2Span{
    margin: 0;
    color:gray;
}