@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&display=swap');
@media screen and (max-width:1660px)  and (min-width:1041px){
    .LoginBox{
        margin-top: 30% !important;
    }
}
@media screen and (max-width:1010px){
    .LoginBox{
        margin-top: 50% !important;
    }
    .LoginBox{
        width: 80% !important;

        padding-bottom:10%;
        margin-left: 10% !important;
    }
    .LoginForm input{
        float: right;
        width: 75% !important;
        height: 35px;
    }
    .LoginLi li{
        margin-bottom: 0px !important;
    }
}
@media screen and (max-width:450px){
    .LoginBox h2{
        margin-left: 30% !important;
        width: 20%;
        font-size: 30px;
        font-family: 'Archivo', sans-serif;
    }
    .LoginBox{
        margin-top: 50% !important;
    }
    .LoginBox{
        width: 80% !important;

        padding-bottom:10%;
        margin-left: 10% !important;
    }
    .LoginForm{
        margin-top: 0 !important; 
    }
    .LoginForm input{
        float: right;
        width: 60% !important;
        height: 30px;
    }
    .LoginLi li{
        width: auto !important;
        margin-bottom: 0px !important;
    }
}
.LoginPage{
    width: 80%;
    
    margin-left: 10%;

}
.LoginBox{
    width: 50%;
    height: 30% ;
    margin-top: 15%;
    margin-left: 25%;
    border: 2px solid black;
    margin-bottom: 100px;
    float: left;
}
.LoginBox h2{
    color:gray;
    margin-left: 45%;
    width: 20%;
    font-size: 30px;
    margin-top: 5%;
    font-family: 'Archivo', sans-serif;
}
.LoginForm{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;

}
.LoginP{
    width: 100%;
    float: left;
    line-height: 50px;
    margin: 0;
}
.LoginForm input{
    float: right;
    width: 80%;
    height: 40px;
}



.LoginLi{
    float: left;
    width: 100%;
    margin-top: 20px;   
}
.LoginLi li{
    margin-bottom: 50px;
    line-height: 10px;
    width: 50%;
    text-align: center;
    float: left;
    font-size: 13px;
}
.R{
    margin: 0;
    padding: 0;
    float: right !important; 
}
.Footerbox{
    float: left;
}