@media screen and (max-width:600px) {
    .OrderPage{    
        width: 80% !important;
        margin-left: 5% !important;
    }
    .OrderPage h2{
        margin-top: 40% !important;
    }
    .Right p{
        line-height: 24px;
    }
    .Right input {
        height: 20px !important;
    }
}

.OrderPage{    width: 60%;
    margin-left: 20%;
}
.OrderPage h2{
    margin-bottom: 10px;
    margin: 0;
    margin-top: 120px !important;
    margin-bottom: 0;
    font-size: 22px;
    padding: 0;
}
.OrderPage h3{
    margin-bottom: 0;
    font-size: 21px;
}
.OrderPage p{
    font-size: 14px;
}
.Left{
    font-size: 14px;
    width: auto;
    float: left;
}
.Right{
    width: 60%;
    float: right;
}

.Right input {
    width: 70%;
    height: 30px;
}
.Right span{
    font-size: 11px;
    color : gray
}
.shipping{
    margin-top: 3%;
    padding: 20px;
    border: 1px solid #000;
    width: 100%;
    height: 250px;
}
.inputp{
    line-height: 30px;
}
.Self{
    width: 70%;
    margin-top: 10px;
}
.Select{
    height: 30px;
    width: 70%;
}