body{
  margin: 0;
  padding: 0;
  font-family: 'GmarketSansMedium';


}


*{
  list-style: none;
  text-decoration: none;
  color: inherit;
}
img{
  object-fit:  contain;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');

@font-face {
  font-family: 'Archivo', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&display=swap') format('woff');
  font-weight: normal;
  font-style: normal;
}