
@media screen and (max-width:1000px) {
    .MyPageBox{
        margin-top: 15% !important;
    }
    .MyPageBox h1{
    }
}


.MyPageBox{
    margin-top: 120px;
    width: 80%;
    margin-left: 10%;
    height: 500px;
}
.MyPageBox h1{
    font-family: 'Archivo';
    margin: 0;
    padding: 0;
    
}
.color{
    color:gray;
}
.AdminBtn{
    
}