
@media screen  and (max-width:1040px) and (min-width:769px)
{
    .header{
        font-size: 18px !important;
    }    
    .header .LMenu{
        width: 100%;
        font-size: 18px;
    }
    .header .RMenu{
        width: 25% !important;
        float: right !important;
    }
    .RMenu li{
        width: auto !important;
    }
}


@media screen and (max-width:768px) {
    .header .Menu{
        display: none;
    }
    .header .RMenu{
        width: 39% !important;
        line-height: 50px !important;
    }

    .Logo h1{
        font-family: 'Anton', sans-serif;
    }
}


@media screen and (max-width:450px) {
    .header{
        position: fixed !important;
        height: 50px !important;
        background-color: black !important;

    }
    .header .Menu{
        display: none;
    }
    .RMenu li{
        line-height: 30px !important;
    }
    .header .RMenu{
        font-size: 11px !important;
        margin-top: 0 !important;
        height:50px !important;
        width: 50% !important;
    }

    .Logo h1{
        font-size: 20px !important;
        line-height: 23px !important;
        font-family: 'Anton', sans-serif;
    }
}



.header{
    float: left;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    color:white;
    background-color: rgba(0,0,0,0.7);
    height: 80px;
    z-index: 99;
    font-size: 19px;
    
    line-height: 30px;
}
.header .Logo h1{
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    line-height: 50px;
    width: 6%;
    font-weight: bold;
    float: left;
    margin-left: 1%;
}
.Logo{
}
.MidH{
    font-size: 30px;
    margin-top: 40px;
}
.header .Menu{
    float: left;
}
.header .Menu.LMenu{
    float: left;

    width: 50%;
}

.header .LMenu ul li{
    margin-right:20px;
    font-size: 14px;
    line-height: 35px;
    font-weight: normal;
    margin-top: 1.5%;
    width: auto;
    float: left;

}
.header .RMenu{
    width: 20%;
    float: right;
    font-size: 14px;

    line-height: 40px;
}
.header .RMenu li{
    line-height: 60px;
    margin-right: 8%;
    float: right;
}