@import url('https://webfontworld.github.io/NexonLv2Gothic/NexonLv2Gothic.css');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@media screen and (max-width:1401px) and (min-width:769px) {
    .DTF h1{
        margin-top: 140px !important;
        margin-left: 10%;
        display: none !important

        
    }
    .DTALL{
        width: 80% !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .DTF img{
        width: 100% !important;
    }

    .DTInfo{
        width: 90% !important;
        font-size: 15px;
        position: relative;
        right: 2%;

    }


}
@media screen and (max-width:768px) {
    .DTF h1{
        margin-top: 100px !important;
        
    }
    .DTALL{
        
        width: 100% !important;
        margin: 0 auto !important;


    }

    .DTF img{
        
        width: 100% !important;
        height: 520px !important;
    }

    .DTInfo{

        width: 100% !important;
        margin-left: 10%;
        font-size: 9.7px;
        position: relative;
        right: 12%;
    }
    .DetalShot{
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }


}


.DTALL{
    width: 80%;
    float: left;
    margin: 0 auto;
    margin-left: 10%;

    
}
.DTFirst{
    margin: 0 auto;
    width: 80%;

}
.DTF{
    width: 100%;
    height: 700px;



}
.DTF img{
    margin-top: 12%;
    width: 55%;
    float: 
    left;
    height: 100%;

}
.DTF h1{
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 7%;
}
.DTInfo{
    float: left;
    
    height: 100%;
    width: 45%;
}
.DTInfo h3{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    color: gray;

}
.DTli{
    width: 100%;
    float: left;
    
    height:80px;

}

.DTli li{

}
.DTInfo span{
    float: right;
}


.SizeTable{
    width: 100%;
    float: left;
}
.SizeTable table{
    width: 100%;
    height: 120px;
    margin-top: 5%;
    border-collapse: collapse;
    text-align: center;
}

.ST td{
    border: 2px solid gray;
}

.ST th{
    border: 2px solid gray;
    padding-top: 10px;
    height: 20px;
}
.BuyBtn{
    height: 140px;
}
.BuyBtn input{
    float: left;
    margin-top: 5%;
    width: 100%;
    height: 70%;
    border-radius: 0;
    font-family: 'Anton', sans-serif;
    background-color: black;
    color: white;
    font-size: 40px;
}
.OPsize{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    float: left;
}

.DetalShot img{
    background-color: red;
    width: 100%;
    object-fit: contain;


}

.FS{
    text-align: center;
    font-weight: normal;
    font-size: 35px;
}
.DetalShot{

    margin-top: 250px;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    float: left;
    margin-bottom: 80px;

}


.aa{
    cursor: pointer;
}