@media screen and (max-width:551px) and (min-width:401px) {
    .SlidItem img
{   
/*width*/

        z-index: 0;
        margin: 0 auto;
        width:66.2%; 
        height: 60% !important;

}
}

@media screen and (max-width:400px){
    .SlidItem img
{   
/*width*/

        z-index: 0;
        margin: 0 auto;
        width:80.2% !important; 
        height: 50% !important;
        margin-bottom: 0 !important;

}
.SlidItem{
    z-index: 0;
    width: 100% ;
    
    

}
}


.SlidItem{
    z-index: 0;
    width: 100% ;
    

}

.SlidItem img
{   
/*width*/

        z-index: 0;
        margin: 0 auto;
        width:66.2%; 
        height: 100%;

}
.Slid{
    overflow: hidden;
    width: 100%;
    float: left;
    z-index: 0;
}

.Slid h2{
    z-index: 0;
    text-align: center;
    margin-top:5%;
    height: 80px;
    line-height:75px;


}



.MidH{
    font-size: 24px;
    margin: 0;
    padding: 0;
    top: 25px;
    position: relative;
}
.BBox{
    height: auto !important;
}