@media screen and (max-width:768px) {
    .Slid{
        overflow: hidden;
        width: 100%;
        height: 320px !important;
        float: left;
        z-index: 0;

    }
    .SlidItem img
{   
    z-index: 0;
    margin: 0 auto;
    width: 50%;
    height: 40% !important;
}
.Slid h2{

    font-family: 'Anton', sans-serif;
    z-index: 0;
    text-align: center;
    margin-top:15% !important;
    height: 80px;
    line-height:75px;


}
}
.SlidItem{
    z-index: 0;
    height:820px;



}
.SlidItem img
{   
    z-index: 0;
    margin: 0 auto;
    width: 50%;
    height: 100%;

}
.Slid{
    overflow: hidden;
    width: 100%;
    height: 1040px;
    float: left;
    z-index: 0;
}

.Slid h2{
    z-index: 0;
    text-align: center;
    margin-top:5%;
    height: 80px;
    line-height:75px;


}

