
@media screen and (max-width:768px) {

    .footer .Fjoin{
        width: 28%;
        font-size: 8px;
        margin-right: 2%;
    }
    .footer .Btn{
        width: 80%;
    }
    .footer .Fitem
    {
        font-size: 8px;
    }
    .footer .List{
    }
    .footer .Rfooter{
        width: 40%;
        margin-right: 21.5%;
    }
    .ListAll{
        /* width: 10%; */
        position: relative;
        right: 20%;
        bottom: 20px;
        width: 100%;
        background-origin: padding-box;
    }


}




.footer{
    float: left;
    position: relative;
    bottom: 0;
    
    width: 100%;height:350px;
    margin-top: 0px;
    background-color: black;
    color:white;
}
.Fitem{
    color:white;
    margin-top: 40px;
}
.Fitem p{
    font-size: 10px;
    
}
.Lfooter{
    float: left;
    list-style-type: disc;
    width: 300px;
    margin: 20px;
    
}
.Lfooter ul li{

}
.List{
    float: left;
}
.Rfooter{
    float: right;
    width: 20%;

}
.Fitem{

    height: 40px;
}
.Fjoin{
    width: 20%;
    float: right;

}
.Btn{
    width:45%;
    margin-top: 20px;
    height: 35px;
    background-color: black;
    color:white;
    border: 1px solid white;
}