.AdminPage{
    width: 80%;
    margin-left: 10%;
    float: left;
}
.AdminPage h1{
    margin-top: 120px;
}
.AdminNav{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.AdminNav ul{
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
}
.AdminNav li{
    float: left;

    margin-right: 3%;
    border: 1px solid #000;
    padding: 10px;
    text-align: left;

}